*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumb Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /* tenk på det som en tredimensjonall funksjon, at z-indeks legger seg over alt annet*/
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    /* margin er top, botton, right, left ( 0 0 0 0)
    */
    padding: 0 50px;
}

#navbar_logo {
    background-color: #bdbfc0;
    background-image: linear-gradient(to top, #e0d8e7 0%, #9072b8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}


.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 100%;  
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: #59C173;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:0;
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #161616;;
    }

    .navbar_menu.active{
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(207, 206, 206);
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
    /* endrer <span> fra html (aka hambuger menyen
       til å endre stilling til et kryss
    */
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);        
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);        
    }
}

/*HERO SECTION/ AKA "Forsiden"*/
    .hero {
        background: #190c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .hero_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 180px;
    }

    .hero_heading {
        font-size: 37px;
        margin-bottom: 24px;
        color: #b6b3b3;
        font-family: 'Open Sans', sans-serif;
    }

    .hero_heading span {
        background: #59C173;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -mo-text-fill-color: transparent;
        font-size: 5rem;
    }

    .hero_description{
        font-size: 20px;
        font-weight: bolder;
        color: #b6b3b3;
    }

    .highlight{
        border-bottom: 4px solid rgb(132, 0, 255);
    }

    @media screen and (max-width: 768px) {
        .hero {
            padding: 30px;
        }
        .hero_heading{
            font-size: 28px;
        }
        .hero_description{
            font-size: 18px;
        }
    }

    /*     GRUPPEN      */

    .gruppen {
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10rem 0;
      }
      
      .gruppen h1 {
        background-color: #cecfcf;
        background-image: linear-gradient(to top, #b9b8bb 0%, #9072b8 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }
      
      .gruppen__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
      
      .person__card {
        margin: 10px;
        height: 455px;
        width: 300px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(236, 237, 238);
        background-color:#161a22;
        transition: 0.3s ease-in;
      }
      
      
      .person__card h2 {
        text-align: center;
      }
      
      .person__card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px;
        color: #6f9b7a;
      }
      
    
      .person__card:hover {
        transform: scale(1.075);
        transition: 0.3s ease-in;
        cursor: pointer;
      }
      .img-card {
        display: block;
        width: 100%;
        height: 20rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        border-radius: 50%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      
      @media screen and (max-width: 1300px) {
        .gruppen__wrapper {
          grid-template-columns: 1fr 1fr;
        }
      }
      
      @media screen and (max-width: 768px) {
        .gruppen__wrapper {
          grid-template-columns: 1fr;
        }
      }

      /* Dokumenter */
      
    .dokumenter {
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10rem 0;

      }
      
      .dokumenter h1 {
        background-color: #cecfcf;
        background-image: linear-gradient(to top, #b9b8bb 0%, #9072b8 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        margin-bottom: 5rem;
        font-size: 2.5rem;
      }

      .dokument_card {
        margin: 10px;
        height: 400px;
        width: 300px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        color: rgb(236, 237, 238);
        background-color: transparent
        ;
       
      }

      .dokument_card a {
          height: 2rem;
          width: 100%;
          color: white;
          text-decoration: none;
          font-size: 30px;
          
          
      }

      .dokument_card h3{
          align-items: center;
          color:#59C173;;
          margin-left: 2rem;
          margin-bottom: 4rem;
          padding-top: 1rem;
          cursor: pointer;
      }

      .dokument_wrapper {
          justify-content: center;
          font-size: 50px;
          color: rgb(209, 207, 207);
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
    }

      .dokument_card h3:hover {
        color: #fbfdfc;
        transition: all 0.3s ease;
    }
      }
      
      
      @media screen and (max-width: 768px) {
        .dokument_wrapper {
          grid-template-columns: 1fr;
        }
      }
   